// @import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.centralizar{
    text-align: center;
}

.direita{
    border-radius: 5px;
    text-align: right;
    // width: 98px;
    // height: 36px;
}

body{
    background-color: rgb(226, 226, 226);
}